@tailwind base;
@tailwind components;
@tailwind utilities;

.tablicagmv {
    @apply w-full;
}

.gmvlinia,
.gmvgodzina {
    @apply w-1/12;
}

.gmvkierunek {
    @apply overflow-hidden text-clip;
}

.rozklad {
    @apply my-2 rounded bg-white shadow dark:bg-black;
}

.typdnia {
    @apply rounded-t bg-gray p-3;
}
.typdnia button:first-letter {
    @apply capitalize;
}

.rozklad tbody tr {
    border: white 1px solid;
    display: flex;
    @apply dark:border-black;
}

.rozklad tbody tr td:last-child {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 1rem;
}

.rozklad tbody tr .godzina {
    width: 30px;
    background-color: gray;
    align-items: center;
}
.godzinad {
    @apply border border-textColor;
}

.nowrap {
    @apply whitespace-nowrap;
}

.opislitera {
    @apply hidden w-0;
}

.nastepnykurs {
    color: magenta;
}

.litera_c {
    color: #ff4943;
}

.content {
    position: relative;
}

.content > div {
    width: 100%;
    position: absolute;
    background: transparent;
}
