@tailwind base;
@tailwind components;
@tailwind utilities;

.routeb {
    color: red !important;
}

.routec {
    color: green !important;
}

.routed {
    color: magenta !important;
}

.routee {
    color: blue !important;
}

h2 {
    @apply flex my-3 justify-center text-3xl text-font dark:text-dark_font;
}
