@tailwind base;
@tailwind components;
@tailwind utilities;

.routeb {
    color: red!important;
}

.routec {
    color: green!important;
}

.routed {
    color: magenta!important;
}

.routee {
    color: blue!important;
}
